<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ar-Show - Jusan Magno</title>
	<link rel='stylesheet' type="text/css" href='css/app.css'>
	<script src="/js"></script>
    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/jeromeetienne/AR.js/2.2.1/aframe/build/aframe-ar.js"></script>

</head>

<body style=’margin : 0px; overflow: hidden;’>
  <a-scene embedded arjs=’sourceType: webcam;’>
      <a-marker preset=’hiro’>
        <a-entity position='0 0.5 0'
            obj-model="obj: url(resources/libert.obj); 
            mtl: url(resources/libert.mtl)">
        </a-entity>
      </a-marker>
  <a-entity camera>
  </a-entity>
  </a-scene>
</body>
</html>